* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(140, 194, 255);
}

.container {
  width: 500px;
  margin: 0 auto;
  background: rgb(245, 245, 245);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 10px;
  padding: 1.5rem;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(77, 77, 77, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(149, 149, 149, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(155, 154, 154, 0.75);
}

.image {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0.5rem;
}

.list {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1rem;
}

.births-remanining {
  font-size: 25px;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.clear-list {
  margin: 1rem 0 auto;
  display: block;
  padding: 1rem;
  width: 100%;
  border: 0px;
  background: steelblue;
  color: white;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
}
